*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  padding: 2rem;
}

.rem {
  font-size: 2rem;
}

.em-parent {
  font-size: 2rem;
}

.em {
  font-size: 2em;
}
