* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}

.container {
  max-width: 1000px;
  padding: 1.5rem;
  margin: 0 auto;
}

.title {
  font-size: 1.5rem;
  margin: 0 0 1.5rem 0;
}

.grid {
  background-color: gainsboro;
  display: grid;
  min-height: 320px;
  grid-template-columns: repeat(2, 120px);
  grid-auto-rows: 70px;
  gap: 0.5rem;

  place-content: center;

  margin-bottom: 2rem;
}

.grid__item {
  display: grid;
  place-items: center;
  background-color: orange;
  color: white;
  font-size: 1rem;
}
