*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

body {
  padding: 1.5rem;
  line-height: 1.5;
  max-width: 40rem;
  margin: 0 auto;
}

.c-image-float-left {
  float: left;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}
