@import "../global.css";

.grid {
  padding: 1rem;
  background-color: gainsboro;
  display: grid;
  gap: 1rem;

  /* Responsive columns without media queries */
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

  margin-bottom: 2rem;
}

.grid__item {
  padding: 1.5rem;
  color: white;
}

.grid__item:nth-child(1n) {
  background-color: orange;
}

.grid__item:nth-child(2n) {
  background-color: orangered;
}

.grid__item:nth-child(3n) {
  background-color: red;
}
