/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

html {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/

.grid {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.grid__item {
  background-color: lightgray;
  padding: 1.5rem;
  text-align: center;
  border: 1px solid #ccc;
}

.grid__item--1 {
  /* grid-column: span 2;
  grid-row: span 2; */
  /* grid-column: 1 / 3;
  grid-row: 1 / 3; */
  /* grid-column: 2;
  grid-row: 2; */
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  /* grid-column: 1 / span 2;
  grid-row: 1 / span 2; */
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
