body {
  font-size: 1.25rem;
  font-family: sans-serif;
  line-height: 1.5;
}

.block-element {
  background-color: hotpink;
  border: 10px solid purple;
  padding: 2rem;
  margin: 2rem;
  max-width: 500px;
}

.content-box {
  box-sizing: content-box; /* actually the default, but for demo purposes */
}

.border-box {
  box-sizing: border-box;
}
