* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.5rem;
}

.container {
  max-width: 1000px;
  padding: 1rem;
  margin: 0 auto;
}

.title {
  margin: 0 0 1rem 0;
}

.subtitle {
  margin: 0 0 0.5rem 0;
  font-size: 1.1rem;
}

.flex {
  padding: 1rem;
  background-color: gainsboro;
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.flex__item {
  padding: 1.5rem;
  color: white;
  flex-basis: 400px;
  flex-grow: 1;
}

.flex__item--1 {
  background-color: orange;
}

.flex__item--2 {
  background-color: orangered;
}

.flex__item--3 {
  background-color: red;
}

.flex--middle-fixed .flex__item--2 {
  flex-shrink: 0;
}
