:root {
  --yellow: #ffff17;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background-color: black;
  color: var(--yellow);
}

.logo {
  overflow: visible;
  max-width: 100%;
  height: auto;
  /* fill: currentColor; */
}