/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

/*
  Desktop first global font sizing
  Eerst de font-size vergroten voor grote schermen, om daarna aan te passen voor kleinere schermen
  Terwijl de standaard font-sise 1rem is -> Dom!
*/

html {
  font-family: Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

@media (width <= 600px) {
  html {
    font-size: 1rem;
  }
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

.o-container {
  max-width: 60rem;
  margin: 0 auto;
}

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/

.c-header {
  padding: 2rem;
  background-color: black;
}

@media (width <= 600px) {
  .c-header {
    padding: 1rem;
  }
}

/* 
  Desktop first navigation 
  Eerst naast elkaar zetten om daarna opnieuw onder elkaar te zetten bij kleinere schermen
  Terwijl list-items standaard onder elkaar staan -> Dom!
*/

.c-nav__list {
  display: flex;
  gap: 1rem;
}

.c-nav__link {
  text-decoration: none;
  color: gray;
}

.c-nav__link:hover,
.c-nav__link--active {
  color: white;
}

@media (width <= 600px) {
  .c-nav__list {
    flex-direction: column;
    gap: 0;
  }
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
