*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

body {
  padding: 1rem;
}

@media (width >= 576px) {
  .test {
    background-color: blue;
  }
}

.test {
  background-color: hotpink;
  padding: 1rem;
}
