html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: inherit;
}

:root {
  --charcoal: #233d4dff;
  --pumpkin: #fe7f2dff;
  --sunglow: #fcca46ff;
  --olivine: #a1c181ff;
  --polished-pine: #619b8aff;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.box {
  background-color: var(--pumpkin);
  width: 10rem;
  height: 10rem;
  padding: 1rem;
}

.box--transformed {
  /* height: 15rem;
  width: 15rem; */
  /* scale: 0 2; */

  /* rotate: 720deg; */
  translate: 4rem 4rem;
  transform: skew(15deg, 15deg);
}
