:root {
  --yellow: #ffff17;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background-color: black;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo {
  max-width: 600px;
  overflow: visible;
  fill: var(--yellow);
}

.logo__path-1 {
  fill: none;
  stroke: var(--yellow);
  stroke-width: 5;
  stroke-linejoin: round;
}