@font-face {
  font-family: "OffgridSans";
  src: url("./fonts/OffgridSans-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OffgridSans";
  src: url("./fonts/OffgridSans-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OffgridSans";
  src: url("./fonts/OffgridSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OffgridSans";
  src: url("./fonts/OffgridSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OffgridSans";
  src: url("./fonts/OffgridSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OffgridSans";
  src: url("./fonts/OffgridSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OffgridSans";
  src: url("./fonts/OffgridSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OffgridSans";
  src: url("./fonts/OffgridSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OffgridSans";
  src: url("./fonts/OffgridSans-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "OffgridSans", sans-serif;
  line-height: 1.5;
}

body {
  padding: 1.5rem;
}

h1 {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.sample {
  margin-top: 2rem;
}

.sample__title {
  font-weight: 400;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: gray;
}

.sample__text {
  font-size: 1.25rem;
}

.thin {
  font-weight: 100;
}

.extra-light {
  font-weight: 200;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.black {
  font-weight: 900;
}
