*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.o-row {
  padding: 3rem 1.5rem;
  background-color: aliceBlue;
}

/* color modifiers */

.o-row--dark {
  background-color: midnightBlue;
  color: #01fa99;
}

.c-cards {
  display: grid;
  gap: 1.5rem;
}

.c-card {
  background-color: #fff;
  max-width: 36em;
  margin: 0 auto;
  padding: 1.5rem;
  box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.25);
}

.c-card--inset {
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25) inset;
}

.c-card--border {
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.125),
    2px 4px 15px rgba(0, 0, 0, 0.125);
}

.c-card--multiple {
  box-shadow:
    4px 4px 0 rgba(0, 0, 0, 0.125),
    8px 8px 0 rgba(0, 0, 0, 0.125),
    12px 12px 0 rgba(0, 0, 0, 0.125);
}

.c-card--glow {
  background-color: rgba(255, 255, 255, 0);
  box-shadow:
    0 0 0 1px rgba(0, 250, 153, 0.5),
    0 0 25px rgba(0, 250, 153, 0.75);
}
