*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --pink: hsl(330 100% 60%);
  --green: hsl(100 60% 50%);
}

body {
  padding: 1rem;
  min-height: 100vh;
  background-color: var(--pink);
  font-family: sans-serif;
  font-size: 1.5rem;
  color: white;
  transition: 0.25s;

  &:has(a:hover) {
    background-color: var(--green);

    .daar {
      rotate: 360deg;
      scale: 2;
    }
  }
}

.grid {
  min-height: 100vh;
  display: grid;
  gap: 1rem;
  place-items: center;
}

a {
  color: inherit;
}

.daar {
  transition: 0.2s;
}
