*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: Arial, sans-serif;
}

.button {
  text-decoration: none;
  padding: 1rem 1.5rem;
  background-color: cornflowerblue;
  color: white;
  border-radius: 3rem;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: royalblue;
  /* transform: scale(1.1); */
  scale: 1.1;
}

.button:active {
  /* transform: scale(1); */
  scale: 1;
}
