*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

@media (min-width: 600px) {
  .test {
    color: white;
    background-color: blue;
  }
}

.test {
  padding: 1rem;
  color: darkred;
  background-color: hotpink;
}
