*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

h1 {
  font-size: 5rem;
}

@media (width <= 600px) {
  h1 {
    font-size: 2rem;
  }
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/

.c-header {
  background-color: lightgray;
  padding: 1rem;
}

@media (width >= 600px) {
  .c-header {
    padding: 2rem;
  }
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/

/*---------------------------------------
 # MEDIA QUERIES
---------------------------------------*/

@media (width >= 600px) {
  h1 {
    font-size: 3rem;
  }

  .c-header {
    padding: 2rem;
  }
}
