@import "../global.css";

.grid {
  padding: 1rem;
  background-color: gainsboro;
  display: grid;
  gap: 1rem;

  grid-template-columns: 6rem 12rem auto 12rem 6rem;
  grid-template-rows: 300px 10rem auto;

  /* Shorthand for grid-template-columns and grid-template-rows */
  grid-template: 300px 10rem auto / 6rem 12rem auto 12rem 6rem;

  margin-bottom: 2rem;
}

.grid__item {
  padding: 1.5rem;
  color: white;
}

.grid__item:nth-child(1n) {
  background-color: orange;
}

.grid__item:nth-child(2n) {
  background-color: orangered;
}

.grid__item:nth-child(3n) {
  background-color: red;
}
