*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

html {
  line-height: 1.5;
  font-family: sans-serif;
  color: rgba(255 255 255 /0.75);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: url("https://images.unsplash.com/photo-1711560708503-62d4a83ae11a?q=80")
    no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  padding: 12rem 3rem;
  line-height: 1.5;
  max-width: 40rem;
  margin: 0 auto;
}

p,
h2 {
  margin: 0 0 3rem;
}

.c-card {
  display: flow-root;
  background-color: rgb(0 0 0 /0.5);
  backdrop-filter: blur(10px);
  max-width: 36rem;
  margin: 0 auto;
  padding: 3rem 3rem 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
