*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  padding: 1.5rem;
  line-height: 1.5;
  display: grid;
  gap: 1.5rem;
  place-items: center;
}

.button {
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  padding: 0.75rem 2rem;
  background-color: blue;
  color: #fff;
  border-radius: 0.3125rem;
}

.button--rounded {
  /* make this larger than half the height */
  border-radius: 3rem;
  /* don't use percentages here */
  /* border-radius: 50%; */
}

.circle {
  background-color: blue;
  border-radius: 100%;
}

.square {
  border-radius: 1rem;
}

.fancy {
  background-color: blue;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.squircle {
  background-color: blue;
  border-radius: 50%;
  border-radius: 100%;
  corner-shape: superellipse(3);
}

.buttons {
  display: flex;
  gap: 1.5rem;
}

.images {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
}
