*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  padding: 2rem 1rem;
}

.flexbox-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  max-width: 60rem;
  margin: 0 auto;
}

.flexbox-grid__item {
  flex: 1 1 15rem;
}
